@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, :root {
  height: 100%;
}
 
 
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #050505;

    --card: #ffffff;
    --card-foreground: #050505;

    --popover: #ffffff;
    --popover-foreground: #050505;

    --primary: #1e1e1e;
    --primary-foreground: #fafafa;

    --secondary: #1e1e1e;
    --secondary-foreground: #ffffff;

    --muted: #f6f6f6;
    --muted-foreground: #767676;

    --accent: #f6f6f6;
    --accent-foreground: #1e1e1e;

    --destructive: #ea3b3b;
    --destructive-foreground: #fafafa;

    --border: #1e1e1e;
    --input: #000000;
    --ring: #ffffff;

    --radius: .5rem;
  }

  .dark {
    --background: #050505;
    --foreground: #e6e6e6;

    --card: #050505;
    --card-foreground: #fafafa;

    --popover: #050505;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #1e1e1e;

    --secondary: #262626;
    --secondary-foreground: #fafafa;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #e33838;
    --destructive-foreground: #fafafa;

    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}