@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #050505;
    --hero: #f4f4f4;


    --card: #ffffff;
    --card-foreground: #050505;

    --popover: #ffffff;
    --popover-foreground: #050505;

    --primary: #1e1e1e;
    --primary-foreground: #fafafa;

    --secondary: #1e1e1e;
    --secondary-foreground: #d8d8d8;

    --muted: #8c8c8c;
    --muted-foreground: #767676;

    --accent: #f6f6f6;
    --accent-foreground: #1e1e1e;

    --destructive: #ea3b3b;
    --destructive-foreground: #fafafa;

    --border: #1e1e1e;
    --input: #1e1e1e;
    --ring: #1c1c1c;

    --radius: 0.5rem;
  }

  .dark {
    --background: #050505;
    --foreground: #e6e6e6;
    --hero: #050505;

    --card: #050505;
    --card-foreground: #fafafa;

    --popover: #050505;
    --popover-foreground: #fafafa;

    --primary: #fafafa;
    --primary-foreground: #1e1e1e;

    --secondary: #717171;
    --secondary-foreground: #fafafa;

    --muted: #747474;
    --muted-foreground: #9a9a9a;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #e33838;
    --destructive-foreground: #fafafa;

    --border: #8b8b8b;
    --input: #8c8c8c;
    --ring: #d4d4d4;
  }
}

* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
